{% has_perm request.user "service_catalog.view_doc" as can_view_doc %}

{% if can_view_doc %}
    {% load martortags %}
    <div id="accordion_docs">
        {% for doc in docs %}
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#doc_{{ doc.id }}"
                                aria-controls="doc_{{ doc.id }}" title="Click to expand/collapse">
                            {{ doc.title }}
                        </button>
                    </h5>
                </div>

                <div id="doc_{{ doc.id }}" class="collapse {% if expanded != False %}show{% endif %}">
                    <div class="card-body p-0">
                        <div class="martor-preview">
                            {{ doc.content | safe_markdown }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
