{% load static %}
<div class="card">
    <div class="card-header p-2">
        <h3 class="card-title">
            <i class="fas fa-comments"></i> Comments
        </h3>
        <div class="card-tools">
            <span title="state" class="badge text-bg-{{ object.state |map_request_state }} p-1 me-2">{{ object.get_state_display }}</span>
        </div>
    </div>
    <div class="card-body">
        {% for message in comment_messages %}
            <div class="d-flex border-bottom py-3">
                <img class="rounded-circle flex-shrink-0" width="40" height="40" src="{% if message.sender.is_staff %}{% static 'squest/img/admin.png' %}{% else %}{% static 'squest/img/user.png' %}{% endif %}" alt="user image">
                <div class="flex-grow-1 ms-3">
                    <div class="d-flex justify-content-between align-items-start">
                        <a href="#">{{ message.sender.username }}</a>
                    </div>
                    <small class="text-secondary d-block">{{ message.last_update_date |squest_date_format }}</small>
                    {{ message.content|markdown }}
                </div>
            </div>
        {%  endfor %}
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" href="{% url 'service_catalog:requestmessage_create' object.id %}"><i class="fas fa-comment"></i> Comments</a>
    </div>
</div>
