[data-bs-theme="dark"] .btn-light {
    background-color: #343a40 !important;
    color: #fff !important;
}

[data-bs-theme="dark"] .dtfc-fixed-left {
    background-color: #343a40 !important;
}

[data-bs-theme="dark"] input.form-control[disabled] {
    opacity: 0.4;
}

[data-bs-theme="dark"] div.martor-preview > h1,
[data-bs-theme="dark"] div.martor-preview > h2,
[data-bs-theme="dark"] div.martor-preview > h3,
[data-bs-theme="dark"] div.martor-preview > h4,
[data-bs-theme="dark"] div.martor-preview > h5,
[data-bs-theme="dark"] div.martor-preview > h6 {
    color: white !important;
}

[data-bs-theme="dark"] div.martor-preview {
    background-color: var(--bs-body-bg);
}
