{% extends "base.html" %}

{% block content %}
    <main class="app-main">
        <div class="app-content-header">
        </div>
        <section class="app-content">
            <div class="container-fluid py-5 text-center">
                <h2 class="display-1 fw-bold text-warning">403</h2>
                <div>
                    <h3><i class="fas fa-exclamation-triangle text-warning"></i> Access denied</h3>
                    <p class="text-warning">
                        {% if exception %}
                            {{ exception }}
                        {% else %}
                            The page you are trying to access has restricted access.
                        {% endif %}
                    <br>
                    </p>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
