{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Squest | Maintenance</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'squest/img/squest_logo.png' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin-lte/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.css' %}">
</head>
<body class="login-page">
<!-- Automatic element centering -->
<div class="login-box" style="max-width: 500px;">
    <div class="login-logo">
        <img src="{% static 'squest/img/squest_logo_v2_300_300.png' %}" alt="squest_logo">
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <h3><i class="fas fa-wrench text-warning"></i> Squest is currently under maintenance.</h3>
        </div>
    </div>
</div>
<!-- /.center -->
<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin-lte/dist/js/adminlte.min.js' %}"></script>
</body>
</html>
