{% has_perm request.user "service_catalog.close_support" as can_close %}
{% if can_close %}
    <button class="btn btn-primary" type="submit" formaction="{% url 'service_catalog:support_bulk_close' %}">
        <i class="fas fa-check"></i> Close
    </button>
{% endif %}
{% has_perm request.user "service_catalog.reopen_support" as can_reopen %}
{% if can_reopen %}
    <button class="btn btn-secondary" type="submit" formaction="{% url 'service_catalog:support_bulk_reopen' %}">
        <i class="fas fa-undo"></i> Reopen
    </button>
{% endif %}
