{% extends 'base.html' %}
{% block title %}
 #{{ target_request.id }} | Comments
{%  endblock %}
{% load static %}
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 h-100">
                <div class="card">
                    <div class="card-header p-2">
                        <h3 class="card-title">
                            <i class="fas fa-comments"></i>
                            Comments
                        </h3>
                        <div class="card-tools">
                            <span title="state" class="badge text-bg-{{ target_request.state |map_request_state }} p-1 me-2">{{ target_request.get_state_display }}</span>
                        </div>
                    </div>
                    <div class="card-body">
                        {% for message in comment_messages %}
                            <div class="d-flex border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" width="40" height="40" src="{% if message.sender.is_staff %}{% static '/squest/img/admin.png' %}{% else %}{% static '/squest/img/user.png' %}{% endif %}" alt="user image">
                                <div class="flex-grow-1 ms-3">
                                    <div class="d-flex justify-content-between align-items-start">
                                        <a href="#">{{ message.sender.username }}</a>
                                        {% if message.sender == request.user %}
                                            <a title="Edit"
                                               class="btn btn-primary"
                                               href="{% url "service_catalog:requestmessage_edit" message.request.id message.id %}">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <small class="text-secondary d-block">{{ message.last_update_date |squest_date_format }}</small>
                                    {{ message.content|markdown }}
                                </div>
                            </div>
                        {%  endfor %}
                    </div>
                    <div class="card-footer">
                        <form action="{% url 'service_catalog:requestmessage_create' target_request.id %}" method="post" _lpchecked="1">{% csrf_token %}
                            {{  form.as_p }}
                            <div class="mb-3">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <!-- validate button -->
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-comment"></i> Send
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
