{% extends 'base.html' %}
{% block title %}
    Graph
{% endblock %}
{% block content %}
    <main class="app-main">
        <div class="app-content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Resource Tracker Graph</h1>
                    </div>
                    <div class="col-sm-6">
                        <div class="float-sm-end">
                            <a class="btn btn-success" href="{% url 'resource_tracker_v2:resourcegroup_create' %}">
                                <i class="fas fa-plus"></i> New resource group
                            </a>
                            <a class="btn btn-secondary" data-bs-toggle="offcanvas" data-bs-target="#squest-filter-offcanvas" href="#squest-filter-offcanvas">
                                <i class="fas fa-sliders-h"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <div class="app-content">
            <div class="container-fluid overflow-scroll">
                {% if display_graph %}
                    {{ svg }}
                {% else %}
                    Nothing to display
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}

{% block right_aside %}
    <div class="offcanvas offcanvas-end" tabindex="-1" id="squest-filter-offcanvas" aria-labelledby="squest-filter-offcanvas-label" style="width: 50%">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="squest-filter-offcanvas-label"><i class="fas fa-search"></i> Filter</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {% include 'generics/form_edit.html' with form=resource_graph.form action='apply' method='get' %}
        </div>
    </div>
{% endblock %}
